:root {
  // Colores
  --transparent     : transparent;
  --color-black     : #000000;
  --color-black-80  : #1f1f1f;
  --color-blue      : #0b5fff;
  --color-blue-10   : #86b7fe;
  --color-blue-5    : #dfecff;
  --color-gray-60   : #c3c3c3;
  --color-gray-80   : #EEEEEE;
  --color-gray-100  : #DCDCDC;
  --color-gray-300  : #ABABAB;
  --color-gray-400  : #808080;
  --color-gray-500  : #565656;
  --color-gray-600  : #404040;
  --color-green-50  : #E8F4E1;
  --color-green-200 : #A5C93D;
  --color-green-300 : #8baf43;
  --color-green-400 : #517c13;
  --color-green-500 : #507c13;
  --color-green-600 : #b9cc56;
  --color-green-700 : #3e6a27;
  --color-yellow    : #fabc2d;
  --color-yellow-50 : #faefe8;
  --color-yellow-80 : #fef4dc;
  --color-yellow-100: #ffc956;
  --color-orange-300: #fc802a;
  --color-orange-400: #fb6903;
  --color-orange-500: #fa8035;
  --color-white     : #ffffff;
  --color-white-60  : #e9e9e9;
  --color-white-80  : #e9e9e9;
  --color-white-300 : #fafafa;
  --color-green-accesibility : #4b6a3b;
  --color-green-accesibility-300 : #5d784e;
  --color-green-accesibility-200 : #6f8f5f;
  --color-green-accesibility-100 : #c9d2c4;
  --color-green-accesibility-50 : #e9ede8;
}
