.int-title{
  background-color: var(--color-green-700);
  color: var(--color-white);
}


.pvr {
  &__header {
    width: 100%;
    position: relative;
    height: 102px;
    @media (min-width: 992px) {
      height: 155px;
      &:hover,
      &:focus,
      &:focus-within {
        z-index: 9;
      }
    }
    .header {
      &--quicklinks {
        position: relative;
        margin: 0;
        z-index: 1;
        @media (min-width: 768px) {
          background: var(--color-yellow);
        }
        .dropdown {
          @media (min-width: 768px) {
            display: flex;
            width: 100%;
            max-width: 1222px;
            margin: 0 auto;
          }
          &--toggle {
            width: 100%;
            background: var(--color-yellow);
            border: none;
            display: flex;
            height: 44px;
            padding: 0px 20px;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            @media (min-width: 768px) {
              width: auto;
              pointer-events: none;
              cursor: default;
              padding: 0px 16px;
              background: var(--color-white-300);
              display: none;
            }
            .text {
              font-family: var(--fontBanda);
              font-size: 14px;
              font-weight: 700;
              line-height: normal;
              color: var(--color-gray-600);
              pointer-events: none;
              @media (min-width: 768px) {
                font-size: 16px;
                color: var(--color-black-80);
              }
            }
            .icon {
              font-size: 20px;
              display: block;
              padding: 10px;
              pointer-events: none;
              transition: transform 0.35s ease-in-out;
              color: var(--color-gray-600);
              @media (min-width: 768px) {
                display: none;
              }
            }
            &.open {
              .icon {
                transform: rotate(180deg);
              }
            }
            &:not(.open) {
              transform: rotate(0);
            }
          }
          &--menu {
            position: absolute;
            margin: 0;
            padding: 0;
            list-style: none;
            background: var(--color-white);
            width: 100%;
            z-index: 1;
            &.show {
              transition: height 0.35s ease-in-out;
              overflow: hidden;
              clip: auto;
            }
            &:not(.show) {
              display: none;
              clip: rect(1px 1px 1px 1px);
              /* IE6, IE7 */
              clip: rect(1px, 1px, 1px, 1px);
            }
            @media (min-width: 768px) {
              display: flex !important;
              height: auto !important;
              background-color: var(--transparent);
              position: relative;
            }
          }
          &--item {
            &.offset--item {
              @media (min-width: 768px) {
                margin-left: auto;
              }
            }
            .link {
              display: flex;
              width: 100%;
              height: 44px;
              padding: 0px 20px;
              align-items: center;
              gap: 10px;
              color: var(--color-gray-600);
              font-family: var(--fontBanda);
              font-size: 14px;
              font-weight: 700;
              line-height: normal;
              &:hover,
              &:focus,
              &:active {
                background-color: var(--color-yellow-80);
                text-decoration: none;
                @media (min-width: 768px) {
                  background-color: var(--color-white-300);
                }
              }
              @media (min-width: 768px) {
                color: var(--color-black-80);
                padding: 0 16px;
              }
              @media (min-width: 992px) {
                height: 49px;
                font-size: 16px;
              }
            }
            &.active {
              background-color: var(--color-white-300);
              display: none;

              @media (min-width: 768px) {
                display: flex;
              }
            }
          }
        }
      }
      &--navigation {
        width: 100%;
        position: relative;
        box-shadow: 0px 2px 4px 0px rgba(170, 170, 170, 0.4);
        background: var(--color-white);

        @media (min-width: 992px) {
          background: var(--color-white-300);
        }

        .content {
          width: 100%;
          padding: 9px 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 16px;

          @media (min-width: 992px) {
            padding: 0 20px;
            max-width: 1366px;
            height: 106px;
            margin: 0 auto;
            gap: 0px 8px;
          }

          @media (min-width: 1320px) {
            gap: 0px 27px;
          }
        }

        .brand {
          width: 42px;

          @media (min-width: 992px) {
            display: flex;
            width: 84px;
            height: 108px;
            padding: 8px 0;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
          }

          @media (min-width: 1320px) {
            width: 136px;
            padding: 8px 20px;
          }

          &__link {
            display: block;

            .image {
              display: block;
              width: auto;
              height: auto;
              max-width: 100%;
            }
          }
        }

        .navigation {
          width: 100%;
          display: flex;
          justify-content: space-between;
          gap: 40px;
          @media (min-width: 992px) {
            border-radius: 12px 12px 64px 12px;
            background: var(--color-white-60);
            padding-left: 10px;
            gap: 6px;
          }

          @media (min-width: 1320px) {
            padding-left: 32px;
            gap: 16px;
          }

          &--column-1 {
            display: none;
            @media (min-width: 992px) {
              display: block;
            }
          }

          &--column-2 {
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: flex-end;
            margin-left: auto;
            width: 100%;
          }
          &--search {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: var(--color-white);
            z-index: 999;
            left: -100%;
            transition: all 0.2s linear;
            @media (min-width: 992px) {
              display: block !important;
              position: relative;
              width: 100%;
              left: 0;
              height: auto;
              background: transparent;
              text-align: right;
              transition: inherit;
              z-index: inherit;
            }
            &.show {
              left: 0;
            }
            .search {
              &__label {
                @media (max-width: 992px) {
                  color: var(--color-gray-600);
                  left: 50px;
                }
              }
              &__input {
                @media (max-width: 992px) {
                  height: 44px;
                  background: var(--color-white);
                  border-radius: 0;
                  border-top: 0;
                  border-left: 0;
                  border-right: 0;
                  border-bottom: 1px solid var(--color-gray-60);
                  padding: 12px 20px 12px 50px;
                }
                &:focus {
                  width: 100%;
                  &::-webkit-input-placeholder {
                    /* Chrome/Opera/Safari */
                    @media (min-width: 992px) {
                      opacity: 1;
                    }
                  }
                  &::-moz-placeholder {
                    /* Firefox 19+ */
                    @media (min-width: 992px) {
                      opacity: 1;
                    }
                  }
                  &:-ms-input-placeholder {
                    /* IE 10+ */
                    @media (min-width: 992px) {
                      opacity: 1;
                    }
                  }
                  &:-moz-placeholder {
                    /* Firefox 18- */
                    @media (min-width: 992px) {
                      opacity: 1;
                    }
                  }
                }
                &::-webkit-input-placeholder {
                  /* Chrome/Opera/Safari */
                  font-weight: 400;
                  font-style: italic;
                  opacity: 0;
                  color: var(--color-gray-60);
                }
                &::-moz-placeholder {
                  /* Firefox 19+ */
                  font-weight: 400;
                  font-style: italic;
                  opacity: 0;
                  color: var(--color-gray-60);
                }
                &:-ms-input-placeholder {
                  /* IE 10+ */
                  font-weight: 400;
                  font-style: italic;
                  opacity: 0;
                  color: var(--color-gray-60);
                }
                &:-moz-placeholder {
                  /* Firefox 18- */
                  font-weight: 400;
                  font-style: italic;
                  opacity: 0;
                  color: var(--color-gray-60);
                }
              }
              &__btn {
                @media (max-width: 992px) {
                  display: none;
                }
              }
            }
          }
          &--login {
            .btn--login {
              padding: 6px 14px;
              border: 4px solid var(--color-orange-300);
              border-radius: 20px;
              background: var(--color-orange-300);
              color: var(--color-white);
              text-align: center;
              font-family: var(--fontNunito);
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 20px;
              display: flex;
              align-items: center;
              gap: 4px;
              text-decoration: none;

              &:focus {
                border-color: var(--color-orange-400);
                background: var(--color-orange-300);
              }

              &:hover {
                background: var(--color-orange-400);
                border-color: var(--color-orange-400);
              }

              @media (min-width: 992px) {
                font-size: 14px;
                line-height: 24px;
                height: 56px;
                padding: 16px 10px;
                border-radius: 40px 0px 40px 40px;
                width: 145px;
              }

              @media (min-width: 1200px) {
                width: 203px;
                font-size: 20px;
                padding: 16px 20px;
              }

              .icon {
                @media (min-width: 992px) {
                  width: 24px;
                  height: 24px;
                  font-size: 20px;
                }
              }
            }
          }

          &--column-3 {
            display: flex;
            gap: 16px;
            align-items: center;
            @media (min-width: 992px) {
              display: none;
            }

            .btn--search {
              width: 32px;
              height: 32px;
              border: solid 1px var(--transparent);
              background: 0 0;
              padding: 0;
              cursor: pointer;
              .text {
                display: block;
                height: 0;
                text-indent: -99999999px;
              }
              .icon {
                font-size: 32px;
                color: var(--color-green-500);
              }
              @media (min-width: 992px) {
                display: none;
              }
            }

            .btn--menu {
              position: relative;
              width: 32px;
              height: 32px;
              border: 1px solid var(--color-white);
              background: var(--transparent);
              padding: 0;
              margin-left: 0;
              cursor: pointer;

              .text {
                text-indent: -999999px;
                display: block;
              }

              .icon-left {
                transition-duration: 0.25s;
                position: absolute;
                height: 2px;
                width: 10px;
                top: 14px;
                background-color: var(--color-green-500);
                left: 5px;

                &:before {
                  transition-duration: 0.25s;
                  position: absolute;
                  width: 10px;
                  height: 2px;
                  background-color: var(--color-green-500);
                  content: "";
                  top: -6px;
                  left: 0px;
                }

                &:after {
                  transition-duration: 0.25s;
                  position: absolute;
                  width: 10px;
                  height: 2px;
                  background-color: var(--color-green-500);
                  content: "";
                  top: 6px;
                  left: 0px;
                }
              }

              .icon-right {
                transition-duration: 0.25s;
                position: absolute;
                height: 2px;
                width: 10px;
                top: 14px;
                background-color: var(--color-green-500);
                left: 15px;

                &:before {
                  transition-duration: 0.25s;
                  position: absolute;
                  width: 10px;
                  height: 2px;
                  background-color: var(--color-green-500);
                  content: "";
                  top: -6px;
                  left: 0;
                }

                &:after {
                  transition-duration: 0.25s;
                  position: absolute;
                  width: 10px;
                  height: 2px;
                  background-color: var(--color-green-500);
                  content: "";
                  top: 6px;
                  left: 0;
                }
              }

              &.open {
                .icon-left {
                  transition-duration: 0.25s;
                  background: var(--transparent);

                  &::before {
                    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
                    top: -8px;
                  }

                  &::after {
                    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
                    top: 8px;
                  }
                }

                .icon-right {
                  transition-duration: 0.25s;
                  background: var(--transparent);

                  &::before {
                    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
                    top: -8px;
                  }

                  &::after {
                    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
                    top: 8px;
                  }
                }
              }
            }
          }

          &--menu {
            position: fixed;
            background: var(--color-white);
            width: 100%;
            height: 100vh;
            top: 186px;
            right: 0;
            transition: all 0.2s linear;
            z-index: 100;
            margin-right: -100%;
            .nav__menu{
              visibility: visible;
              height: auto;
            }
            &.show {
              margin-right: 0;
            }
          }
        }
      }
    }

    &.scroll--head {
      .header--navigation {
        position: fixed;
        top: 0;
        z-index: 9;
      }

      .header--navigation .navigation--menu {
        top: 57px;

        @media (min-width: 992px) {
          top: inherit;
        }
      }
    }
  }
}

.nav__menu {
  visibility: hidden;
  height: 0;
  @media (min-width:992px) {
    visibility: visible;
    height: auto;
  }
  .menu {
    &--list {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (min-width: 992px) {
        width: 100%;
        max-width: 687px;
        display: flex;
        align-items: flex-start;
        gap: 0;
        align-self: stretch;
      }

      @media (min-width: 1250px) {
        gap: 16px;
      }
      &.search__focus {
        .link {
          gap: 0;
        }
        .menu--item .link .text,
        .menu--item .link .icon--toggle {
          visibility: hidden;
          opacity: 0;
          width: 0;
        }
      }
    }

    &--item {
      width: auto;
      position: inherit;
      .link {
        display: flex;
        width: 100%;
        padding: 16px 36px 16px 24px;
        align-items: center;
        color: var(--color-gray-600);
        font-family: var(--fontBanda);
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        position: relative;
        text-decoration: none;

        @media (min-width: 992px) {
          justify-content: center;
          color: var(--color-black-80);
          display: flex;
          font-size: 14px;
          height: 56px;
          gap: 5px;
          padding: 0px 6px;
        }

        @media (min-width: 1200px) {
          font-size: 16px;
          gap: 10px;
        }

        .text {
          margin-left: 16px;
          transition: all 0.05s ease-in-out;
          @media (min-width: 992px) {
            white-space: pre;
            margin-left: 0;
          }
        }

        .icon {
          font-size: 20px;
          width: 22px;

          img {
            filter: grayscale(100%);
          }
        }

        .icon--toggle {
          position: absolute;
          right: 36px;
          transform: rotate(-90deg);
          transition: transform;
          transition-duration: 250ms, 0ms;
          transition-delay: 0ms, 250ms;
          transition-timing-function: ease-in, ease-in;

          @media (min-width: 992px) {
            position: relative;
            transform: rotate(0);
            right: 0;
          }
        }

        &.accordion__tab--active {
          .icon--toggle {
            transform: rotate(0deg);
          }
        }

        &:focus {
          text-decoration: underline;

          @media (min-width: 768px) {
            text-decoration: none;
          }
        }
      }

      .accordion__tab--active + .accordion__panel {
        height: auto;
        visibility: visible;
        transition-duration: 250ms, 0ms;
        transition-delay: 0ms, 0ms;

        .submenu--item {
          visibility: visible;
        }
      }

      @media (min-width: 992px) {
        cursor: pointer;

        &:hover,
        &:focus,
        &:focus-within {
          .link {
            color: #3e6a27;

            .icon {
              img {
                filter: grayscale(0);
              }
            }
          }

          .submenu--list {
            opacity: 1;
            visibility: visible;
            padding: 16px 0px;
            width: auto;
            height: auto !important;
            background: var(--color-yellow-80);
            border-radius: 0px 0px 8px 8px;
            clip: auto;
            transition: opacity 0.2s ease-in;
          }
        }
      }

      &.has__child {
        @media (min-width: 992px) {
          .link {
            pointer-events: none;
          }
        }
      }
    }
  }

  .submenu {
    &--list {
      padding: 0;
      list-style: none;
      min-width: 262px;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: height, visibility;
      transition-duration: 250ms, 0ms;
      transition-delay: 0ms, 250ms;
      transition-timing-function: ease-in, ease-in;

      @media (min-width: 992px) {
        position: absolute;
        visibility: hidden;
        overflow: hidden;
        display: flex;
        opacity: 0;
        padding: 16px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        transition: opacity 0.2s ease-out;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
      }
    }

    &--item {
      width: 100%;
      visibility: hidden;

      @media (min-width: 992px) {
        visibility: inherit;
      }

      .sub-link {
        color: var(--color-gray-600);
        font-family: var(--fontNunito);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 10px 36px 10px 62px;
        margin: 8px 0;
        display: block;

        @media (min-width: 992px) {
          display: flex;
          height: 44px;
          padding: 10px 42px;
          align-items: center;
          gap: 10px;

          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 170, 170, 0.4);
  box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.4);
  z-index: 0;
}

body.signed-in {
  .pvr__header.scroll--head .header--navigation .navigation--menu {
    top: 106px;
  }

  .pvr__header .header--navigation .navigation--menu {
    top: 150px;
  }

  .pvr__header.scroll--head .header--navigation {
    top: 49px;

    @media (min-width: 576px) {
      top: 57px;
    }
  }
}
